.btn {
  padding: 0.5rem 1.5rem;
  font-weight: 300;

  &:focus {
    box-shadow: none !important;
  }

  &:hover,
  &:active {
    background-color: #cf6d17;
    border-color: #cf6d17;
  }
}

.btn-rounded {
  border-radius: 50px;
}

.btn-img {
  padding: 0;
  border: none;

  img {
    width: auto;
    height: 55px;
  }

  &:hover {
    background: inherit;
  }
}
