@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

//== Colors
$brand-primary: #e67e22 !default;
$theme-colors: (
  "primary": $brand-primary
);

//== Scaffolding
$text-color: #555;

//== Typography
$font-family-base: "Lato";

//== Navbar
$navbar-height: 100px !default;

